PORT=3001
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=private_courses
JWT_SECRET=replace_with_strong_secret
WECHAT_APPID=your_appid
WECHAT_APPSECRET=your_appsecret
WECHAT_MCHID=your_mchid
WECHAT_PAY_KEY=your_pay_key
WECHAT_NOTIFY_URL=https://yourdomain.com/payments/wechat/notify
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
CORS_ORIGIN=*
